body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

a {
  color: #555;
  line-height: 1.5;
  display: inline-block;
  text-decoration: underline;
}

a:hover, a:focus {
  opacity: .87;
}

.skyLine {
    height: 185px;
    position: relative;
    background-color: #82D7E8;
    border-bottom: 2px solid dimgrey;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.skyLine.dark {
  background-color: #1c4382;
}

.cloudsBlock img {
  top: 20px;
  left: 100%;
  position: absolute;
}

.buildingsBlock {
    right: 20px;
    bottom: -5px;
    z-index: 12;
    position: absolute;
}

.buildingsBlock img {
    width: 100px;
}

.carBlock {
    bottom: -20px;
    left: 75px;
    z-index: 11;
    position: absolute;
    -webkit-transition: left 3s, background-color .5s;
    -moz-transition: left 3s, background-color .5s;
    -ms-transition: left 3s, background-color .5s;
    -o-transition: left 3s, background-color .5s;
    transition: left 3s, background-color .5s;

    transition-timing-function: ease-in-out;
}

.carBlock img {
    width: 50px;
}

.trafficLightBlock {
    bottom: 25px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.trafficLightBlock img {
    width: 30px;
}

.trafficLightBlock::after {
  top: 30px;
  left: 50%;
  width: 2px;
  content: '';
  height: 30px;
  z-index: 12;
  position: absolute;
  background-color: #111;
  transform: translateX(-50%);
}

.houseBlock {
    bottom: -4px;
    left: 20px;
    z-index: 12;
    position: absolute;
}

.houseBlock img {
  width: 80px;
}

.buttonBlockMain {
    left: 50%;
    top: 300px;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.buttonBlockMain button {
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #f9f9f9;
    -webkit-transition: box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
}

.buttonBlockMain button:hover,
.buttonBlockMain button:focus {
  box-shadow: 0 2px 4px #ddd;
  outline: none !important;
}

.copyrights {
  font-weight: 300;
  margin-top: 400px;
  text-align: center;
}

.cpr__icons {
  font-size: 18px;
  position: relative;
}

.cpr__icons::after {
  bottom: -15px;
  left: 50%;
  content: '';

  width: 50%;
  height: 1px;
  position: absolute;
  background-color: #ddd;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.cpr__myself {
  font-size: 14px;
  margin-top: 40px;
}
